<!DOCTYPE html>
<html>
<head>
  <div th:include="fragments/header :: head"></div>
</head>
  <body>
	<div th:include="fragments/header :: head-nav"></div>
    <div class="container page"><br/>
	  <div th:include="fragments/header :: head-div"></div>
      <div class="row">
        <h2>Adicionar Sala</h2>
        <form class="col m12 s12" th:action="@{/sala/cadastrar}" th:object="${sala}" method="POST">
          <div th:if="${erro}" class="row chip red white-text">
          	<span class="white-text" th:text="${erro}"></span>
          	<i class="material-icons">close</i>
          </div>
          <div class="col s12">
            <div class="input-field col m12 s12">
              <input id="nome_sala" th:field="*{nome}" type="text"/>
              <label for="nome_sala">Nome da Sala</label>
            </div>
	        <div class="input-field col m4 s12">
              <input id="qtd_ar_condicionados" min="0" name="qtd_ar_condicionados" type="number"/>
              <label for="qtd_ar_condicionados">Número de Ar condicionados</label>
            </div>
            <div class="input-field col m4 s12">
              <input id="qtd_lampada" min="0" name="qtd_lampadas" type="number"/>
              <label for="qtd_lampada">Número de Lâmpadas</label>
            </div>
            <div class="input-field col m4 s12">
		        <select id="bloco_select" name="bloco">
		          <option value="" disabled="disabled" selected="selected" >Selecione um bloco</option>
		          <div th:each="bloco : ${blocos}"> 
		            <option th:value="${bloco.id}" th:text="${bloco.nome}" ></option>
		          </div>
		        </select> 
	        </div>
          </div>
          
          <div class="col s2 offset-s10">
            <button type="submit" class="waves-effect waves-light btn	" name="button">Salvar</button>
          </div>
        </form>
      </div>
    </div>
	<div th:include="fragments/footer :: footer"></div>
  </body>
</html>
