<!DOCTYPE html>
<html >
  <head>
	<div th:include="fragments/header :: head"></div>    
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  </head>
  <body>
	<div th:include="fragments/header :: head-nav"></div>
    <div class="container page"><br/>
	  <div th:include="fragments/header :: head-div"></div>
      <div class="row">
        <h2 th:text="${sala.nome}"></h2>
          <div th:if="${desligado}" class="row chip orange white-text">
	        <span class="white-text" th:text="${desligado}"></span>
	          <i class="material-icons">close</i>
	       </div>
          <div th:if="${ligado}" class="row chip blue white-text">
            <span class="white-text" th:text="${ligado}"></span>
            <i class="material-icons">close</i>
          </div>
          <div class="row">
          	<div class="col s12 offset-s4">
          		<a th:href="@{'/sala/editar_objetos/' + ${sala.id}}" class="btn white-text waves-effect waves-light ">Programar Objetos</a>
          	</div>
            <div class="input-field col m12 s12">
              <table class="striped centered">
                <thead>
                  <tr>
                    <th>Perifericos</th>
                    <th>Estado</th>
                    <th>Ligar/Desligar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Projetor</td>
                    <td th:if="${sala.projetor.estado} == false">
                      Desigada
                    </td>
                    <td th:if="${sala.projetor.estado} == true"> 
                      Ligada
                    </td>
                    <!-- <td> <a th:href="@{/}" class="modal-trigger">Programar</a></td> -->
                    <td th:if="${sala.projetor.estado} == false">
                      <a th:href="@{'/projetor/ligar_desligar_projetor/' + ${sala.projetor.id} + '/' + ${sala.id}}" class="btn white-text waves-effect waves-light blue-grey"><i class="fa fa-power-off" aria-hidden="true"></i></a>
                    </td>
                    <td th:if="${sala.projetor.estado} == true"> 
                      <a th:href="@{'/projetor/ligar_desligar_projetor/' + ${sala.projetor.id} + '/' + ${sala.id}}" class="btn white-text waves-effect waves-light "><i class="fa fa-power-off" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  
                  <div th:each="lampada,count : ${sala.lampadas}">
	                  <tr>
	                    <td th:text="|Lampada ${count.index + 1}|"></td>
	                    <td th:if="${lampada.estado} == false">
                      	  Desigada
                    	</td>
	                    <td th:if="${lampada.estado} == true"> 
	                      Ligada
	                    </td>
	                    <!-- <td> <a th:href="@{/}" class="modal-trigger">Programar</a></td> -->
						<td th:if="${lampada.estado} == false">
	                      <a th:href="@{'/lampada/ligar_desligar_lampada/'+ ${lampada.id} + '/' + ${sala.id}}" class="btn white-text waves-effect waves-light blue-grey "><i class="fa fa-power-off" aria-hidden="true"></i></a>
	                    </td>
	                    <td th:if="${lampada.estado} == true"> 
	                      <a th:href="@{'/lampada/ligar_desligar_lampada/'+ ${lampada.id} + '/' + ${sala.id}}" class="btn white-text waves-effect waves-light "><i class="fa fa-power-off" aria-hidden="true"></i></a>
	                    </td>	                    
	                  </tr>
                  </div>

                </tbody>
              </table>
              
              <table class="striped centered">
                <thead>
                  <tr>
                    <th>Periféricos</th>
                    <th>Estado</th>
                    <th>Ligar/Desligar</th>
                    <th> Aumentar/Diminuir temperatura</th>
                  </tr>
                </thead>
                <tbody>
                  
                  <div th:each="arCondicionado,count : ${sala.arCondicionados}">
	                  <tr>
	                  	<div th:if="${arCondicionado.estado} == false">
                  			<td th:text="${arCondicionado.nome}"></td>
                  			<td> Desligada </td>
                  			<td>
                      			<a th:href="@{'/ar_condicionado/ligar_desligar_ar_condicionado/'+ ${arCondicionado.id} + '/' + ${sala.id}}" class="btn white-text waves-effect waves-light blue-grey"> <i class="fa fa-power-off" aria-hidden="true"></i></a>
                    		</td>
                    		<td>
                    		<div class="col s12">
					          	<div class="col m12 s12">
					          		<span th:text="${arCondicionado.temperatura}"></span>
					          		<input type="hidden" name="temperatura" th:value="${arCondicionado.temperatura}"/>
					          	</div>
                     		</div>
                     		</td>
	                  	</div>
	                  	
	                  	<div th:if="${arCondicionado.estado} == true">
                  			<td th:text="${arCondicionado.nome}"></td>
                  			<td> Ligada </td>
                  			<td>
                      			<a th:href="@{'/ar_condicionado/ligar_desligar_ar_condicionado/'+ ${arCondicionado.id} + '/' + ${sala.id}}" class="btn white-text waves-effect waves-light "><i class="fa fa-power-off" aria-hidden="true"></i></a>
                    		</td>
                    		<td>
                    		<div class="col s12">
		                     	<div class="col m6 s4">
					              <a th:attr="href='#modalAlterarTemperatura' + ${count.index}" class="btn white-text waves-effect waves-light modal-trigger">Alterar</a>
					          	</div>
					          	<div class="col m4 s4">
					          		<span th:text="${arCondicionado.temperatura}"></span>
					          		<input type="hidden" name="temperatura" th:value="${arCondicionado.temperatura}"/>
					          	</div>
                     		</div>
                     		</td>
	                  	</div>
						<div th:attr="id='modalAlterarTemperatura' + ${count.index}" class="modal">
							<!-- <form th:action="@{/ar_condicionado/alterar_temperatura}" method="POST"> -->
						        <div class="modal-content">
						          <h4>Ajustar Temperatura</h4>
						          <div class="col s12">
						          	<!-- <input type="hidden" name="idSala" th:value="${sala.id}" /> -->
						          	
						          	<div class="col m1 s1">
							            <a class="btn-floating btn-medium waves-effect waves-light" 
							            th:onclick="|aumentar('temperatura_${count.index}','idArCondicionado_${count.index}')|">
							              <i class="material-icons">add</i>
							            </a>
							        </div>
              						
              						<div class="col m3 s3">
              							<input type="hidden" th:id="|idArCondicionado_${count.index}|" th:value="${arCondicionado.id}" />
						            	<input th:id="|temperatura_${count.index}|" min="17" max="28" th:value="${arCondicionado.temperatura}" name="temperatura" type="number"/>
              							<!-- <label for="temperatura">Temperatura</label> -->
              						</div>
							        
							        <div class="col m1 s1">
							            <a class="btn-floating btn-medium waves-effect waves-light red"
							            th:onclick="|diminuir('temperatura_${count.index}','idArCondicionado_${count.index}')|">
							              <i class="fa fa-minus"></i>
							              </a>
							        </div>
              						
              						
              						<div class="modal-footer col s3 offset-s4">
							          <!-- <button type="submit" class="waves-effect btn-flat">Salvar</button> -->
							          <a onclick="location.reload()" class="modal-action modal-close waves-effect btn-flat">Fechar</a>
							          <!-- <a href="#" onclick="aumentar()" class="modal-action modal-close waves-effect btn-flat">teste</a> -->
							        </div>
              						
						          </div>
						        </div>
						        
						    <!-- </form> -->
						</div>
	                  </tr>
                  </div>
                  

                </tbody>
              
              </table>
              
              
            </div>
          </div>

      </div>
    </div>
	<div th:include="fragments/footer :: footer"></div>
	<script>
		$(document).ready(function(){
			
			aumentar = function(temp,idAr) {//vai receber o Objeto vindo da linkRevisor
			      
			  var temperatura = $("#"+temp).val();
			  temperatura++;
			  var idArCondicionado = $("#"+idAr).val();

			  var token = $("meta[name='_csrf']").attr("content");
		      
		      var data = {
      		  	'idArcondicionado': idArCondicionado,
    		  	'temperatura': 	temperatura,
			  };
		
		      $.ajax({
		    	  contentType: 'application/json;charset=UTF-8',
		    	  url: '../../ar_condicionado/aumentar',
		    	  dataType: 'json',
		    	  headers: {"X-CSRF-TOKEN":token},
		    	  type: 'POST',
		    	  cache: false, 
		    	  processData: false, 
		    	  data: JSON.stringify(data),
		    	  success: function (data) {
		    		  $("#"+temp).val(temperatura);
		        	},
		          error: function (data, error) {
		        	}
		    	});
			}
		
		diminuir = function(temp,idAr) {//vai receber o Objeto vindo da linkRevisor
		      
			  var temperatura = $("#"+temp).val();
			  temperatura--;
			  var idArCondicionado = $("#"+idAr).val();

			  var token = $("meta[name='_csrf']").attr("content");
		      
		      var data = {
    		  	'idArcondicionado': idArCondicionado,
  		  	'temperatura': 	temperatura,
			  };
		
		      $.ajax({
		    	  contentType: 'application/json;charset=UTF-8',
		    	  url: '../../ar_condicionado/diminuir',
		    	  dataType: 'json',
		    	  headers: {"X-CSRF-TOKEN":token},
		    	  type: 'POST',
		    	  cache: false, 
		    	  processData: false, 
		    	  data: JSON.stringify(data),
		    	  success: function (data) {
		    		  $("#"+temp).val(temperatura);
		        	},
		          error: function (data, error) {
		        	}
		    	});
			}	

		});
	
	</script>
  </body>
</html>
