<!DOCTYPE html>
<html>
<head>
    <div th:fragment="head">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Trabalho Conclusao de Curso</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" type="text/css" rel="stylesheet" />
		<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
		<link th:href="@{/css/time-line-style.css}" type="text/css" rel="stylesheet" media="screen,projection" />
    </div>
</head>
<body>
	<div th:fragment="head-nav">
	    <nav role="navigation" class="blue darken-4">
	      <div class="nav-wrapper container">
	        <ul class="white-text right hide-on-med-and-down">
	          <li><a th:href="@{/bloco}">Blocos</a></li>
	          <li>
	          	<form th:action="@{/logout}" method="POST" id="logout">
					<a onclick="document.getElementById('logout').submit(); return false;">Sair</a>
				</form>
			  </li>
			  <li><a th:href="@{/}">LOGO</a></li>
	          <!-- <li><a th:href="@{/sala}">Salas</a></li> -->
	        </ul>
	        <ul id="nav-mobile" class="side-nav">
	          <li><a href="#">LINK</a></li>
	          <!-- <li><a href="#">LINK</a></li> -->
	        </ul>
	        <a href="#" data-activates="nav-mobile" class="button-collapse">
	          <i class="material-icons">menu</i>
	        </a>
	      </div>
	    </nav>
	</div>
	
	
	<div th:fragment="head-div">
	  <div class="row opcoes">
        <a th:href="@{/bloco/cadastrar}">Cadastrar Bloco</a>
        <a th:href="@{/sala/cadastrar}">Cadastrar Sala</a>
        <!-- <a th:href="@{/arduino/cadastrar}">Cadastrar Arduino</a>
        <a th:href="@{/arduino/atribuir}">Atribuir Arduino</a> -->
      </div>
	</div>
</body>
</html>