<!DOCTYPE html>
<html>
  <head>
	<div th:include="fragments/header :: head"></div>
  </head>
  <body>
    <nav role="navigation" class="blue darken-4">
	  <div class="nav-wrapper container">
	        
	  </div>
	</nav>
    
    <div class="container page"><br/>
      <div class="row ">
		  <div th:if="${erro}" class="row chip red white-text">
          	<span class="white-text" th:text="${erro}"></span>
          	<i class="material-icons">close</i>
          </div>
        <div class="col s12 offset-s3">
            
            <form th:action="@{/login/cadastrar}" th:object="${pessoa}" method="post">
            
            	<div class="col m6 s12" >
	              <div class="card">
	                
	                <div class="card-content">
	                
	                   <div class="center">
	                       <span class="card-title" >Cadastro</span>
	                   </div>
	               	   
	               	   <div class="row">
	                      <div class="input-field col s12">
	                  	      <input id="nome" type="text" th:field="*{nome}" class="validate"/>
	                          <label for="nome" class="text">Nome</label>
	                      </div>
	                   </div>
	               	   
	               	   
	                   <div class="row">
	                      <div class="input-field col s12">
	                  	      <input id="email" type="email" th:field="*{email}" class="validate"/>
	                          <label for="email" class="text" data-error="Email errado" data-success="Email correto">Email</label>
	                      </div>
	                   </div>
	               
	                   <div class="row" >
	                 	  <div class="input-field col s12">
	                  	      <input id="password" type="password" th:field="*{senha}" class="validate"/>
	                          <label for="password">Senha</label>
	                      </div>
	                   </div>
	                   
	                   <!-- <div class="row" >
	                   	  <div class="input-field col s12">
		                   	  <select th:field="*{papel}">
							       <option value="" disabled="disabled" selected="selected">Tipo de Usuário</option>
							       <option value="PROFESSOR" selected="selected"> Professor</option>
							       <option value="STI">STI</option>
							   </select>
    					   <label>Selecione Opção</label>
	                   	  </div> 
	                   </div> -->
		              <input type="hidden" value="PROFESSOR" th:field="*{papel}"/>
	                </div><!-- FINAL CARD_CONTENT -->
	                
	                <div class="card-action center">
	              		<button type="submit" class="btn white-text waves-effect waves-light green ">Cadastrar</button>
	                </div>
	                
	              </div>
	            </div>
	              
            </form>
            
          </div>
          
      </div>
    </div>
    	
    <div th:include="fragments/footer :: footer"></div>
  </body>
</html>
